<div class="slides">
  <div class="slide slide6"><a name="system-status"></a>
    <div class="example example-6">
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </div>
  <div class="slide slide2"><a name="functional-change"></a>
    <div class="example example-2 no-padding">
      <div class="switch" [class.is-transitioned]="bathroomStatus2">
        <div class="on">{{bathroom2Status}}</div>
        <div class="off">{{bathroom2Status}}</div>
        <div class="handle"></div>
      </div>
    </div>
  </div>
  <div class="slide slide2"><a name="functional-change"></a>
    <div class="example example-2 no-padding">
      <div class="switch" [class.is-transitioned]="bathroomStatus3">
        <div class="on">{{bathroom3Status}}</div>
        <div class="off">{{bathroom3Status}}</div>
        <div class="handle"></div>
      </div>
    </div>
  </div>
  <div class="slide slide4"><a name="highlight"></a>
    <div class="example example-4">
      <div class="ui">
        <div class="highlight1"></div>
        <div class="highlight2"></div>
        <div class="col col-1"></div>
        <div class="col col-2"></div>
      </div>
    </div>
  </div>
</div>